.flexContainer{
  height: calc(100vh - 80px);
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contactForm{
  color: ghostwhite;
  background: linear-gradient(-5deg, #343b49, #537895);
  border-radius: 5px;
  width: 60vw;
  height: auto;
  margin: 20px auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 10px 30px 1px rgb(24, 24, 24);
}
.formFields{
  width: 90%;
  height: 98%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
label{
  font-size: 26px;
  padding: 3px 10px;
}
input{
  font-size: 18px;
  font-weight: bold;
  color: #303030;
  height: 30px;
  border-radius: 5px;
  margin: 7px 0;
}
textarea{
  margin-top: 5px;
  font-size: 18px;
  font-weight: bold;
  color: #303030;
}
.submit{
  width: 200px;
  height: 50px;
  font-size: 30px;
  background: linear-gradient(-2deg, #93a5cf, #e4efe9);
  border-radius: 10px;
 box-shadow: 2px 2px 10px 1px rgb(24, 24, 24);
  margin: 10px auto;
  transition: all 800ms ease-in-out;
                     
}
.submit:hover{
  background: linear-gradient( -5deg, #596164, #868f96);
  width: 250px;
  height: 60px;
  color: ghostwhite;
}

/* MOBILE FORM */


@media (max-width: 770px){  
  .contactForm {
    /* background: linear-gradient(-5deg, #93a5cf, #e4efe9); */
    border-radius: 5px;
    width: 97vw;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 10px 1px rgb(24, 24, 24);
  }

  .formFields {
    width: 90%;
    height: 98%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  label {
    color:rgb(24, 24, 24);
    text-decoration: none;
    font-size: 18px;
    padding: 0 10px;
  }

  input {
   height: 30px;
    border-radius: 5px;
    margin: 7px 0;
  }

}