*{
  box-sizing: border-box;
}

/*font-family: 'Roboto Mono', monospace;
font-family: 'Kaushan Script', cursive;*/


/***************INDIVIDUAL PAGE STYLINING ***************/
.photoGallery{
  display: flex;
  margin: 0 auto;
  max-width: 100vw;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  padding: 10px;
}

a.image{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  max-width: 200px;
}
img.portPhoto{
  width: calc(100% / 6);
  min-width: 180px;
  max-height: 100%;
  margin: 3px;
  transition: all 0.3s ease;
  transition-delay: 0.3s;
}


@media (max-width: 760px) {
  .photoGallery{
    padding: 0 5px;
  }
  a.image{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 40%;
  margin: 5px;
  }
  img.portPhoto{
  min-width: 95vw;
  }
}
