*{
  box-sizing: border-box;
}

/*font-family: 'Roboto Mono', monospace;
font-family: 'Kaushan Script', cursive;*/


/***************INDIVIDUAL PAGE STYLINING ***************/
.photoGallery{
  display: flex;
  margin: 0 auto;
  width: 100%;
  background-color: ghostwhite;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  padding: 10px;
}

img{
  width: calc(100% / 7);
  min-width: 140px;
  max-height: 100%;
  margin: 3px;
  transition: all 0.3s ease;
  transition-delay: 0.3s;
}

@media (max-width: 760px) {
  .photoGallery{
    padding: 2px;
  }
  img{
    width: 47%;
  }
}
